src/main/mule/mule-hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5bc120f6-c68c-4152-82bc-1243603fd1e6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-hello-worldFlow" doc:id="cf991baa-0599-452b-b849-167ea1216380" >
		<http:listener doc:name="Listener" doc:id="e90c2d7e-db29-4d75-a65a-eafa6bc652f0" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='#["hello world"]' doc:name="Set Payload" doc:id="e16dff5c-1d34-4b53-8a69-5e31ebd99e7b" />
	</flow>
</mule>
